body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    display: inline-block;
    background-color: #eed2d2;
    padding: 10px;
    border-radius: 10px;
}

.inline-button {
    display: inline-block;
    background-color: #6e59e7;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
}

#calc-display {
    width: 80%;
    font-size: 20px;
    padding: 5px;
}

#display {
    background-color: #ffffff;
}